$blue: 	hsl(229, 76%, 66%);
$purple: hsl(270, 37%, 46%);
$lightPurple: 	hsl(249, 97%, 86%);
$bluePurple: hsl(229, 100%, 79%);
$white: hsl(0, 0%, 100%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$black: hsl(0, 0%, 0%);

//Font Sizes
$font-sm: 0.875rem; //14px
$font-med:1.125rem; //18px

